<ng-container>
  <mat-toolbar class="header" color="primary">
    <div class="logo">
        <mat-icon>home</mat-icon> Spottipos Properties
    </div>    
    <div class="tools">
      <mat-icon>account_circle</mat-icon> &#123; Nome do usuário &#125;
    </div>
  </mat-toolbar>

  <mat-sidenav #sidenav mode="side" class="sidenav" opened="true">
    Menu
  </mat-sidenav>

  <mat-sidenav-container class="container">

    <mat-sidenav #sidenav mode="side" class="sidenav" opened="true"></mat-sidenav>

    Container
    <router-outlet></router-outlet>

  </mat-sidenav-container>
</ng-container>
