.sidenav {
  display: flex;
  width: 200px;
  background: #2c4c3b;
  padding: 64px 10px 10px;
}

.container {
  padding-top: 65px;
  background: transparent;
}

.header {
  background: #182c25;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;

  .logo {
    height: 100%;    
    display: flex;
    align-items: center;
  }

  .tools {    
    height: 100%;    
    display: flex;

    .tool {
      display: flex;
      padding: 0 10px;
      align-items: center;

      &:hover {
        background: #455b55;
      }

      .mat-icon {
        height: 30px;
        width: 30px;
        font-size: 1.5em;
      }
    }
  }
}

.mat-icon {
  padding-right: 5px;
}